body {
    background: linear-gradient(60deg, lightblue, pink);
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.payment-box {
    background: linear-gradient(60deg, pink, lightblue);
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.expiration-cvc {
    display: flex;
    justify-content: space-between;
}

.expiration, .cvc {
    width: 48%;
}

button {
    padding: 10px;
    background-color: rgb(65,105,4);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
